@import 'mixins';
@import 'variables';
@import 'normalize';
@import 'wysiwyg';

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap');

html {
	font-size: 10px;
}

body, html {
	padding: 0;
	margin: 0;
}

body {
	@include font-regular;
	font-size: 1.6rem;
	font-family: 'Mulish', sans-serif;
	letter-spacing: .02em;
}

.wrapper {
	margin: 0 auto;
	width: 120rem;
	max-width: calc(100% - 4rem);
}

.app-header {
	padding: 2rem 0;

	.header-logo {
		display: block;
		margin: 0 auto;
		width: 10rem;
	}
}

.app-nav {
	@include font-medium;
	background-color: $color-black;
	color: $color-white;
	padding: 1rem 0;

	.nav-wrap {
		display: flex;
		justify-content: center;

		a {
			color: inherit;
			text-decoration: none;
			position: relative;

			&.active {
				text-decoration: underline;
			}

			+ a {
				margin-left: 6rem;
			}
		}
	}
}

.app-footer {
	padding: 2rem 0;
	text-align: center;
	background-color: $color-bg;
}

.code-display {
	.prism-code {
		margin: 0 0;
		padding: 2rem;
		overflow: auto;
	}

	.display-loader {
		background-color: $color-bg;
		padding: 2rem;
		text-align: center;
	}
}

.page {
	padding: 4rem 0;
}